body,h1,h2,h3,h4,h5 
{
    font-family: "Raleway", sans-serif
}

h1
{
    font-size:3vw;
}

h2
{
    font-size: 2.5vw;
}

h3
{
    font-size: 2vw;
}

p
{
    font-size:1vw;
}

input[type=submit]
{
    background-color: #661155;
    color: white;
    padding: .3vw .5vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    border-radius: 0.5vw;
    box-shadow: inset 0 0 0.3vw magenta;
}

body
{
    background: url(Images/hecks.png) repeat 0 0 #661155;
    background-size: 5%;
}

header
{
    color: White;
}


.blog-flex
{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
}

.blog-flex,html,body
{
    height:99%;
    margin:1;
}

.l-sidebar 
{
    position: sticky;
    width: 15%;
    border: 0.3vw solid #f35c00;
    color:white;
    padding: 1%;
    background-color: #3b6042f2;
    order: 1;
    text-align: left;
    overflow: auto;
    border-radius: 1vw;
}

.l-sidebar p{

    font-size: 1vw;
}

a 
{
    background-color: #661155;
    color: white;
    padding: .3vw .5vw;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    border-radius: 0.5vw;
    box-shadow: inset 0 0 0.3vw magenta;
}

.blog-title
{
    margin:auto;
    width:70%;
    height:10%;
    padding:1em;
    order:1;

}

.blog-content
{
    margin-left:auto;
    margin-right:auto;
    position: sticky;
    width: 80%;
    background-color:#3b6042f2;
    color: white;
    order: 2;
    border: 0.3vw solid #f35c00;
    text-align: center;
    overflow: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    border-radius: 1vw;
}

.blog-row
{
    width: auto;
}

.gray-content
{
    background-color:#333333;
    color:white;
    border:0.2vw solid #f35c00;
    width:80%;
    height:100%;
    margin:auto;
    overflow: auto;
    padding:1em;
    text-align: left;
    border-radius: 1vw;
}

.faq-content
{
    color:white;
    text-align: left;
    margin:auto;
    padding-left: 3em;
}

.image-container > img:hover
{
    height: 30em;
    width: auto;
}

.collapsible {
    background-color: #661155;
    color:white;
    border:none;
    outline:none;
    cursor:pointer;
    width: 60%;
    border-radius: 0.5vw;
    margin-top: 0.5vw;
    text-align: left;
    box-shadow: inset 0 0 0.4vw magenta;
    padding: .3vw .5vw;
    font-size: 1.2vw;
}

.collapsible-content {
    display: none;
    overflow: hidden;
    background-color: #333333;
    width: 57%;
    margin-left: 1%;
    padding: .3vw .5vw;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

.collapsible-content b{
    color:#f35c00;
}

::-webkit-scrollbar{
    width: 1vw;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1vw #f35c00;
    border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb{
    background:#661155;
    border-radius: 0.5vw;
    box-shadow: inset 0 0 0.4vw magenta;
}
